body {
font-family:arial;
margin:0px;
padding:0px;
background-repeat:no-repeat;
background-color: rgb(180,180,180);
background-position:center top;

}

#maincontainer {
    background-color: white;
    margin: auto;
    width: 45%;
    border: solid grey;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 45px;
    
}

#maincontainer button {
    float: right;
    width: 20%;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
}

#maincontainer button:hover {
    background-color: rgb(25,75,255);
    color: white;
}

table {
    background-color: white;
    border: thin solid grey;
    border-collapse: collapse;
    margin: auto;
    width: 95%;
}

table th, table td{
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: rgb(220,220,220);
}

.inputfield {
    margin-top: 15px;
    margin-bottom: 15px;
}

.inputfield input[type=text]{
    width: 75%;
    height: 35px;
    font-size: 15px;
}

.inputfield textarea{
    width: 75%;
    height: 100px;
}

.inputfield select, [type=number]{
    width: 35%;
    height: 35px;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
}

.inputfield input[type=number]::-webkit-inner-spin-button{
    opacity: 1;
}

