<html>
<head>
    <title>Super Sprinter 3000 - Add new Story</title>
    <style type=text/css>{{ get_resource_as_string('static/style.css') }}</style>

</head>
<body>
    <div id="maincontainer">
    {% if data is not none %} 
        <h2>User Story manager - Edit existing Story</h2>
        <form action="/edit-story" method="post">
            <input type="hidden" name="id" value="{{ data[0] }}">
    {% else %}
        <h2>User Story manager - Add new Story</h2>
        <form action="/save-story" method="post">
    {% endif %}

            <div class="inputfield">
                <label for="title">Story Title</label><br>
                    <input type="text" name="title" id="title" value="{{ data[1] }}" required/>
            </div>
            <div class="inputfield">
                <label for="userstory">User Story</label><br>
                    <textarea name="userstory">{{ data[2]}}</textarea>
            </div>
            <div class="inputfield">
                <label for="acceptance">Acceptance criteria</label><br>
                    <textarea name="acceptance">{{ data[3]}}</textarea>
            </div>
            <div class="inputfield">
                <label for="status">Status</label><br>
                <select name="status">
                    {% for item in selectdata %}
                        <option value= {{ item[0] }} > {{ item[1] }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="inputfield">
                <label for="quantity">Business Value</label><br>
                    <input type="number" name="quantity" min="100" max="1500" step="100" value="{{ data[4] }}">
            </div>

            <div class="inputfield">
                <label for="esitmation">Estimation(h)</label><br>
                    <input type="number" name="estimation" min="0.5" max="40" step="0.5" value="{{ data[5] }}">
            </div>
            {% if data is not none %} 
                <button type="submit">Save Changes</button>
            {% else %}
                <button type="submit">Create Story</button>
            {% endif %}    
        </form>
    </div>
</body>
</html>