<html>
    <title>Super Sprinter 3000</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
<head>
</head>
<body>
    <div id="top-panel">
        <h2>User Story Manager</h2>
        <div class="linkbutton">
            <a href="/story">Add Story</a>
        </div>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th width="150">Story Title</th>
            <th>Story description</th>
            <th>Acceptance criteria</th>
            <th>Business value</th>
            <th>Estimation(h)</th>
            <th>Status</th>
            <th width="100">Actions</th>
        </tr>
        {% for list in data %} 
            <tr>
            {% for item in list %}
               <td>{{ item }}</td>
            {% endfor %}
            <td>
                <a href="/story/{{ list[0] }}"><img src="/static/editn.png" width="30" height="30"></a>
                <a href="/delete/{{ list[0] }}"><img src="/static/delete.png" width="30" height="30"></a>
            </td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>